.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #1c252d;
  color: #e0e0e0;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  border-bottom: 2px solid #333;
}

.header .logo {
  font-size: 2em;
  font-weight: bold;
  color: #b0b0b0;
  transition: color 0.3s ease;
}

.header .logo:hover {
  color: #a0a0a0;
}

.header input {
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #888;
  width: 1000px;
  font-size: 1em;
  transition: border-color 0.3s ease;
}

.header input:focus {
  border-color: #666;
  outline: none;
}

.header button {
  background-color: #35424e;
  color: #e0e0e0;
  border: none;
  padding: 12px 24px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.header button:first-of-type {
  margin-right: 10px; /* Adds space between the buttons */
}

.header button:hover {
  background-color: #4a4a4a;
  transform: translateY(-2px);
}

.header button:active {
  background-color: #333;
  transform: translateY(0);
}
